<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<resultMap type="member" id="memberVo"></resultMap>
	<select id="login" parameterType="member" resultMap="memberVo">
		SELECT * FROM MEMBER WHERE userId = #{userId}
	</select>  
	<insert id="enrollMember" parameterType="member">
		INSERT INTO MEMBER VALUES(#{userId}, #{password}, #{userName}, #{gender}, #{age}, #{email}, #{phone}, #{address}, #{hobby, typeHandler=strArray}, SYSDATE)
	</insert>	
</mapper>
